/* Styling for background/body text */
body {
	background-image: url("../images/Australia-Flag-Map-smaller.png");
	font-family: 'Playfair Display', serif;
	text-align: center;
}

/* Styling for page title/header */
h1 {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

img {
	margin-top: 10px;
}

#submit-form {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: red;
	padding: 10px;
}

#add-button-input {
	margin-left: 5px;
}

#add-button {
	margin-left: 30px;
}

#button-array, #gif-content {
	background-color: white;
	margin-top: 30px;
	padding: 10px;
	min-height: 100px;
	border-style: solid;
	border-width: 1px;
	border-color: darkblue;
	outline-style: solid;
	outline-width: 1px;
	outline-color: red;
}

#gif-content {
	min-height: 400px;
	margin-bottom: 50px;
}

.aussie-button {
/*    padding: 14px 24px;*/
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	margin: 5px;
}


/* For footer positioning and to get rid of weird L-R scroll bar */
html, body {
	height: 100%;
	overflow-x: hidden;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0px auto -30px;
	/* Pad bottom by footer height */
	padding: 0px 0px 30px 0px;
}

/* Sticky footer styling! */
#footer {
	/* Must match margin-bottom in .wrapper CSS */
	/* Set the fixed height of the footer here */
	height: 30px;
	padding: 5px;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	font-size: 11px;
	font-weight: bold;
	background-color: red;
	border-top-style: solid;
	border-color: darkblue;
	border-width: 1px;
	text-align: center;
	overflow: auto;
	overflow-y: hidden;
}